* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu{
  padding-top: 10px;
}

.m-item{
  display: inline-block;
  padding: 0 10px;
}

.m-link{
  text-decoration: none;
  color: #4a4a4a;
  font-size: 16px;
  text-transform: uppercase;
}

.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3CDBC0;
}

.t-item{
  display: block;
  text-align: center;
  font-size: 30px;
  font-style: bolder;
  line-height: 30px;
}