* {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }

.header{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;

}
.content{
  background-color: #3CDBC0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}